body,
body *{
    font-family: 'Cairo', sans-serif;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.vue-html2pdf .layout-container {
  visibility: hidden;
}

.v-application .text-h5 {
  font-family: inherit !important;
}